@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<Entities.Concrete.Color>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Renk Ekle</h4>
        @*<p class="card-description">

        </p>*@
        <span style="margin:5px">Tarih Gir :</span>
        <input class="form-control col-md-5" type="number" placeholder="YYYY" value="@DateTime.Now.Year" min="2022" max="2100" id="fabrikaDate" style="margin:1px;">
        <br />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Renk</th>
                        <th>Miktar</th>
                        <th>BARCODE</th>
                    </tr>
                </thead>
                <tbody>


                    @{
                        int i = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            @* <td hidden><input class="form-group" type="text" id="color_@i" name="@item.ColorName"></td>*@
                            @*   <td>@item.ColorName </td>
                        <td><input class="typeahead tt-input" type="text" id="colorName_@i" name="@item.ColorName" value="@item.ColorName"></td>*@
                            <td>@item.ColorName <input class="typeahead tt-input" type="text"  id="color_@i" name="@item.ColorName" value="@item.Id" hidden></td>
                            <td><input class="typeahead tt-input" type="text" id="colorCount_@i" name="@item.ColorName"></td>
                            <td><input class="typeahead tt-input" type="text" placeholder="BARCODE" id="barcode_@i" name=""></td>
                            @*<td><label class="badge badge-danger">Pending</label></td>*@
                        </tr>
                        i++;
                    }
                    <tr>
             
                        <td> <button class="btn btn-primary" onclick="Calistir()"> Gönder</button></td>
                    </tr>
                    <tr>
                        <td>
                            @{
                                var productCounts2 = ViewBag.ColorCount;

                                if (productCounts2 >= 25 && productCounts2 <= 36)
                                {
                                    productCounts2 = 3;
                                }
                                else if (productCounts2 > 36)
                                {
                                    productCounts2 = productCounts2 / 12;
                                    productCounts2 = productCounts2 + 1;


                                }
                                else if (productCounts2 <= 12)
                                {
                                    productCounts2 = 1;
                                }
                                else if (productCounts2 > 12 && productCounts2 <= 24)
                                {
                                    productCounts2 = 2;
                                }




                            }
                            <div class="btn-group" role="group" aria-label="Basic example">
                                @for (int b = 0; b < productCounts2; b++)
                                {
                                    <a class="btn btn-outline-secondary" onclick="ProductColorPartical(@(b+1))" @*href="@Url.Action("AddShippingDetailsColorPartical","Shipping",new{color=b+1})"*@>@(b + 1)</a>
                                }

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>