@using X.PagedList.Mvc.Core;
@using X.PagedList;

@*@using PagedList.Core;*@
@model IPagedList<Entities.Concrete.Color>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Renk Ekle</h4>
            @*<p class="card-description">

            </p>*@
            @*     <form id="ProductForm" >*@
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Renk</th>
                            <th>Miktar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                        int colorCount = ViewBag.ColorCount;
                        }
                        @Html.Hidden("colorCount",colorCount)
                        @foreach (var item in Model)
                        {
                            <tr>
                                @* <td hidden><input class="form-group" type="text" id="color_@i" name="@item.ColorName"></td>*@
                                @*   <td>@item.ColorName </td>
                            <td><input class="typeahead tt-input" type="text" id="colorName_@i" name="@item.ColorName" value="@item.ColorName"></td>*@
                                <td>@item.ColorName <input class="typeahead tt-input" type="number" id="color_@i" name="@item.ColorName" value="@item.Id" hidden></td>
                                <td><input class="typeahead tt-input" type="number" id="colorCount_@i" name="@item.ColorName"></td>
                                @*<td><label class="badge badge-danger">Pending</label></td>*@
                            </tr>
                            i++;
                        }
                        <tr>
                            <td> <button type="button" class="btn btn-success" onclick="Calistir()" style="margin:5px">Kaydet</button></td>
                        </tr>
                        <tr>
                            <td>
                            @{
                                var productCounts2 = ViewBag.ColorCount;
                                if (productCounts2 >= 25 && 36 <= productCounts2)
                                {
                                    productCounts2 = 3;
                                }
                                else if (productCounts2 > 36)
                                {
                                    productCounts2 = productCounts2 / 12;

                                }
                                else if (productCounts2 <= 12)
                                {
                                    productCounts2 = 1;
                                }
                                else if (productCounts2 > 12 && productCounts2 <= 24)
                                {
                                    productCounts2 = 2;
                                }
                            }
                                <div class="btn-group" role="group" aria-label="Basic example">
                                @for (int b = 0; b < productCounts2; b++)
                                    {
                                        <a class="btn btn-outline-secondary" onclick="TekliColorPartical(@(b+1))" @*href="@Url.Action("TekliColorPartical","Product",new{page=b+1})"*@>@(b + 1)</a>
                                    }

                              @*  @Html.PagedListPager( (IPagedList)Model, page => Url.Action("TekliColorPartical", new { page }) )*@
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @*        </form>*@

        </div>
    </div>
