@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    bool depoMu = false;
    if (ViewBag.depoMu != null)
    {
        depoMu = true;
    }
}


<div class="col-lg-12 grid-margin stretch-card" >
    <div class="card">
        <div class="card-body">
            <center>

                <h4 class="card-title">Sipariş Dökümleri</h4>
            </center>
            <div class="row">
                <div class="col-2 ">
                    <h5 style="padding:5px">Sipariş Yılı :</h5>
                </div>
                <div class="col-4">
                    <input class="form-control col-6" type="number" placeholder="YYYY" value="@DateTime.Now.Year" min="2022" max="2100" id="ChangeShippingYear" style="margin:1px;margin-bottom:50px">
                </div>

            </div>
            <div class="table-responsive">
                <table id="example" class="table border" style="width:100%; border:double">
                </table>
            </div>
        </div>
    </div>
</div>


@*<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
*@<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

@section Script{

    <script>
       function getir(){

       }

        $(document).ready(function () {
            var q = [];
            $.ajax({
                url: '@Url.Action("ShippingOrdersReturnJson","Temp")?dateTime='+ $('#ChangeShippingYear').val(),
                success: function (datam) {
                    var qqq = JSON.parse(datam);

                    for (var i = 0; i < qqq.length; i++) {
                        //var ssss = [
                        //   ];
                        q.push({ 'Id': qqq[i].Id,'TenantName':qqq[i].Tenant.TenantName, 'SiparisAdi': qqq[i].SiparisAdi, 'SiparisTarihi': qqq[i].RegisterDate, 'SiparisTutari': qqq[i].SiparisTutari });

                    }
                    //console.log([{ 'id': 20, 'main': 'hola', 'shrinked': false, 'clicks': 2000 }, { 'id': 21, 'main': 'hola', 'shrinked': false, 'clicks': 283000 }]);
                   // console.log(q);
                    $('#example').dataTable({
                        "data": q,
                        "autoWidth": true,
                        "columns": [
                            { "data": "Id" },
                            { "data": "TenantName",'title':'Firma Adı' },
                            { 'data': 'SiparisAdi', 'title': 'Sipariş Adı' },
                            {
                                'data': 'SiparisTarihi', 'title': 'Sipariş Tarihi',
                                'render': function (jsonDate) {
                                    var date = jsonDate.substr(0, 10)
                                    return date;

                                }
                            },
                            {
                                "data": "SiparisTutari",
                                "title": 'Sipariş Tutarı',
                                "render": function (data, type, row, meta) {
                                    if ('@depoMu' == 'True') {
                                        return ''
                                        //return '<a  data-id="' + data + '" onclick="DeleteShipping(event)" href = "#" > Siparişi Sil </a>'
                                    } else {
                                        return data;
                                    }
                                    //return '<button class="btn btn-outline-secondary" data-id="' + data + '" onclick="ExceleRaportla(event)">Excele Raporla </button>'
                                }
                            },

                            //{ 'data': 'SiparisTutari','title': 'Sipariş Tutarı' },

                            {
                                "data": "Id",
                                "title": 'İşlemler',
                                "render": function (data, type, row, meta) {
                                    return `<button class="btn btn-warning" style="color:black" data-id="${data}" onclick="ExceleRaportla(${data})">Çeki<i class="ti-download"></i></button>`+`<button class="btn btn-success" style="color:black;margin-left:5px" data-id="${data}" onclick="GetFisAll(${data})">Fiş<i class="ti-download"></i></button>`


                                }
                            }

                        ],

                           "language": {
                        "search": "Arama Yap:",
                    "paginate": {
                    "first":      "İlk",
                    "last":       "Son",
                    "next":       "İlerile",
                    "previous":   "Önceki"

                },
                            "sInfo": "",// text you want show for info section


                         },
                    })
                }

            });



            document.getElementById("ChangeShippingYear").addEventListener("change", function () {



                    $.ajax({
                        url: '@Url.Action("ShippingOrdersReturnJson","Temp")?dateTime=' + $('#ChangeShippingYear').val(),
        success: function (datam) {
            var qqq = JSON.parse(datam);
            q = [];

            for (var i = 0; i < qqq.length; i++) {
                //var ssss = [
                //   ];
                q.push({ 'Id': qqq[i].Id,'TenantName':qqq[i].Tenant.TenantName, 'SiparisAdi': qqq[i].SiparisAdi, 'SiparisTarihi': qqq[i].RegisterDate, 'SiparisTutari': qqq[i].SiparisTutari });

            }
            if ($.fn.dataTable.isDataTable('#example')) {
                $('#example').DataTable().destroy();
            }
            //console.log([{ 'id': 20, 'main': 'hola', 'shrinked': false, 'clicks': 2000 }, { 'id': 21, 'main': 'hola', 'shrinked': false, 'clicks': 283000 }]);
           // console.log(q);
            $('#example').dataTable({
                "data": q,
                "autoWidth": true,
                "columns": [
                    { "data": "Id" },
                    { "data": "TenantName",'title':'Firma Adı' },
                    { 'data': 'SiparisAdi', 'title': 'Sipariş Adı' },
                    {
                        'data': 'SiparisTarihi', 'title': 'Sipariş Tarihi',
                        'render': function (jsonDate) {
                            var date = jsonDate.substr(0, 10)
                            return date;

                        }
                    },
                    {
                        "data": "SiparisTutari",
                        "title": 'Sipariş Tutarı',
                        "render": function (data, type, row, meta) {
                            if ('@depoMu' == 'True') {
                                return ''
                                //return '<a  data-id="' + data + '" onclick="DeleteShipping(event)" href = "#" > Siparişi Sil </a>'
                            } else {
                                return data;
                            }
                            //return '<button class="btn btn-outline-secondary" data-id="' + data + '" onclick="ExceleRaportla(event)">Excele Raporla </button>'
                        }
                    },

                    //{ 'data': 'SiparisTutari','title': 'Sipariş Tutarı' },

                    {
                        "data": "Id",
                        "title": 'İşlemler',
                        "render": function (data, type, row, meta) {
                            return `<button class="btn btn-warning" style="color:black" data-id="${data}" onclick="ExceleRaportla(${data})">Çeki<i class="ti-download"></i></button>`+`<button class="btn btn-success" style="color:black;margin-left:5px" data-id="${data}" onclick="GetFisAll(${data})">Fiş<i class="ti-download"></i></button>`


                        }
                    }

                ],

                   "language": {
                "search": "Arama Yap:",
            "paginate": {
            "first":      "İlk",
            "last":       "Son",
            "next":       "İlerile",
            "previous":   "Önceki"

        },
                    "sInfo": "",// text you want show for info section


                 },
            })
        }

    });

            });

        });


        function ExceleRaportla(id) {
          //  var spId=e.target.getAttribute('data-id');
            //window.location.href = '@Url.Action("GetShippingOrderListForExcel","Temp")?Id=' + spId;

            var url = '@Url.Action("GetShippingOrderListForExcel","Temp")?Id=' + id;
            $.ajax({
                url: url,
                success: function () {
                    window.location.href = '@Url.Action("Dowloand","Temp")';
                    //setTimeout(ShippingFirst, 3000);
                }
            });

        }
        function GetFisAll(id) {
          //  var spId=e.target.getAttribute('data-id');
            //window.location.href = '@Url.Action("GetShippingOrderListForExcel","Temp")?Id=' + spId;

            var url = '@Url.Action("GetFisAll","Temp")?shippingId=' + id;
            $.ajax({
                url: url,
                success: function () {
                    window.location.href = '@Url.Action("DowloandFis","Temp")';
                    //setTimeout(ShippingFirst, 3000);
                }
            });

        }



        //$(document).ready(function () {
        //    var q = [];
        //    $.ajax({
        //        url: '/Home/GetProductListJson',
        //        success: function (datam) {
        //            var qqq = JSON.parse(datam);

        //            for (var i = 0; i < qqq.length; i++) {
        //                var ssss = [qqq[i].ModelCode, qqq[i].ModelName];
        //                q.push(ssss);

        //            }
        //            $('#example').DataTable({
        //                data: q,
        //                columns: [
        //                    { title: 'Name' },
        //                    { title: 'Position' },
        //                    { title: '' },
        //                    //{ title: 'Extn.' },
        //                    //{ title: 'Start date' },
        //                    //{ title: 'Salary' },
        //                ],
        //                columnDefs: [
        //                    {
        //                        targets: -1,
        //                        data: null,
        //                        defaultContent: '<button>Click!</button>',
        //                    },
        //                ],
        //            });
        //        }

        //    });

        //});
        //      $('#example tbody').on('click', 'button', function () {
        //    var data = table.row($(this).parents('tr')).data();
        //    alert(data[0] + "'s salary is: " + data[5]);
        //});

        //$(document).ready(function () {
        //   var q = [];
        //     $.ajax({
        //        url: '/Home/GetProductListJson',
        //        success: function (datam) {
        //         var qqq = JSON.parse(datam);
        //            for (var i = 0; i < qqq.length; i++) {
        //                var ssss = [qqq[i].ModelCode, qqq[i].ModelName];
        //                q.push(ssss);
        //            }

        //               var table = $('#example').DataTable({
        //        ajax: q,
        //        columnDefs: [
        //            {
        //                targets: -1,
        //                data: null,
        //                defaultContent: '<button>Click!</button>',
        //            },
        //        ],
        //    });
        //        }});



        //    $('#example tbody').on('click', 'button', function () {
        //        var data = table.row($(this).parents('tr')).data();
        //        alert(data[0] + "'s salary is: " + data[5]);
        //    });
        //});

        //var table = $('#example').DataTable({
        //    ajax: '',
        //    columnDefs: [
        //        {
        //            targets: -1,
        //            data: null,
        //            defaultContent: '<button>Click!</button>',
        //        },
        //    ],
        //});

        //$('#example tbody').on('click', 'button', function () {
        //    var data = table.row($(this).parents('tr')).data();
        //    alert(data[0] + "'s salary is: " + data[5]);
        //});
    </script>

}
